@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Shrikhand&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import 'tailwindcss';
@config "../tailwind.config.ts";

:root {
  --beige: 237 229 218;
  --black: 24 24 23;
  --highlight: 78 113 161;

  /* === MOBILE (default) === */
  /* Header Title · 36/72 */
  --text-header-title: 2.25rem; /* 36px */
  --leading-header-title: 4.5rem; /* 72px */

  /* H1 · 28/36 */
  --text-h1: 1.75rem; /* 28px */
  --leading-h1: 2.25rem; /* 36px */

  /* H2 · 22/30 */
  --text-h2: 1.375rem; /* 22px */
  --leading-h2: 1.875rem; /* 30px */

  /* H3 · 18/26 */
  --text-h3: 1.125rem; /* 18px */
  --leading-h3: 1.625rem; /* 26px */

  /* subtitle · 16/24 */
  --text-subtitle: 1rem; /* 16px */
  --leading-subtitle: 1.5rem; /* 24px */

  /* Body1 · 14/22 */
  --text-body1: 0.875rem; /* 14px */
  --leading-body1: 1.375rem; /* 22px */

  /* Body2 · 12/20 */
  --text-body2: 0.75rem; /* 12px */
  --leading-body2: 1.25rem; /* 20px */

  /* Button · 14/20 */
  --text-button: 0.875rem; /* 14px */
  --leading-button: 1.25rem; /* 20px */

  /* Tech Btn · 10/22 */
  --text-tech-btn: 0.625rem; /* 10px */
  --leading-tech-btn: 0.375rem; /* 22px */
}

@theme inline {
  /* === BORDER RADIUS  === */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.375rem; /* 6px */
  --radius-lg: 0.75rem; /* 12px */
  --radius-xl: 1rem; /* 16px */
  --radius-2xl: 1.25rem; /* 20px */
  --radius-full: 9999px; /* full pill/round */

  /* === RADIUS TOKENS (MOBILE BASE) === */
  --radius-btn: 0.375rem; /* pill on mobile */
  --radius-card: 0.375rem; /* 6px */
  --radius-chip: 0.25rem; /* 4px */

  /* === BUTTON PADDING TOKENS (MOBILE BASE) === */
  --btn-px: 1rem; /* 16px horizontal */
  --btn-py: 0.5rem; /* 8px vertical */

  /* === CARD PADDING TOKENS === */
  --card-p: 1rem; /* 16px */

  /* === CHIP SIZE TOKENS === */
  --chip-px: 0.75rem; /* 12px */
  --chip-py: 0.25rem; /* 4px */

  /* === FONT FAMILY === */
  --font-title: 'Titillium Web', sans-serif;
  --font-body: 'Inter', ui-sans-serif, system-ui;
  --font-label: 'Abel', sans-serif;
  --font-logo: 'Shrikhand', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--beige);
  }
}

/* TABLET */
@media (min-width: 768px) {
  :root {
    --radius-btn: 1.25rem;
    --radius-card: 1.25rem;

    --btn-px: 1.25rem; /* 20px */
    --btn-py: 0.75rem; /* 12px */

    --card-p: 1.25rem; /* 20px */

    --chip-px: 1rem;
    --chip-py: 0.375rem;

    --text-header-title: 3rem; /* 48px */
    --leading-header-title: 4.5rem; /* 72px */

    --text-h1: 2rem; /* 32px */
    --leading-h1: 2.75rem; /* 44px */

    --text-h2: 1.75rem; /* 28px */
    --leading-h2: 2.25rem; /* 36px */

    --text-h3: 1.25rem; /* 20px */
    --leading-h3: 1.75rem; /* 28px */

    --text-subtitle: 1.125rem; /* 18px */
    --leading-subtitle: 1.625rem; /* 24px */

    --text-body1: 0.875rem; /* 14px */
    --leading-body1: 1.375rem; /* 22px */

    --text-body2: 0.75rem; /* 12px */
    --leading-body2: 1.25rem; /* 20px */

    --text-button: 1.125rem; /* 18px */
    --leading-button: 1.25rem; /* 20px */

    --text-tech-btn: 0.75rem; /* 10px */
    --leading-tech-btn: 1.375rem; /* 22px */
  }
}

/* EXPANDED TABLET */
@media (min-width: 1280px) {
  :root {
    --radius-btn: 1.5rem;
    --radius-card: 1.5rem;

    --btn-px: 1.5rem;
    --btn-py: 0.75rem;

    --card-p: 1.5rem;

    --chip-px: 1rem;
    --chip-py: 0.5rem;

    --text-header-title: 4.5rem; /* 72px */
    --leading-header-title: 4.5rem; /* 72px */

    --text-h1: 3rem; /* 48px */
    --leading-h1: 3.5rem; /* 56px */

    --text-h2: 2.25rem; /* 36px */
    --leading-h2: 2.25rem; /* 44px */

    --text-h3: 1.5rem; /* 24px */
    --leading-h3: 2rem; /* 32px */

    --text-subtitle: 1.25rem; /* 20px */
    --leading-subtitle: 1.75rem; /* 28px */

    --text-body1: 1rem; /* 16px */
    --leading-body1: 1.5rem; /* 24px */

    --text-body2: 0.75rem; /* 14px */
    --leading-body2: 1.25rem; /* 20px */

    --text-button: 1.5rem; /* 24px */
    --leading-button: 1.25rem; /* 20px */

    --text-tech-btn: 0.825rem; /* 10px */
    --leading-tech-btn: 1.375rem; /* 22px */
  }
}

/* DESKTOP */
@media (min-width: 1728px) {
  :root {
    --radius-btn: 1.75rem;
    --radius-card: 1.75rem;

    --btn-px: 1.75rem;
    --btn-py: 0.875rem;

    --card-p: 1.75rem;

    --chip-px: 1.25rem;
    --chip-py: 0.5rem;

    --text-header-title: 6rem; /* 96px */
    --leading-header-title: 4.5rem; /* 72px */

    --text-h1: 3rem; /* 64px */
    --leading-h1: 3.5rem; /* 72px */

    --text-h2: 2.25rem; /* 48px */
    --leading-h2: 2.25rem; /* 56px */

    --text-h3: 1.5rem; /* 28px */
    --leading-h3: 2rem; /* 36px */

    --text-subtitle: 1.25rem; /* 24px */
    --leading-subtitle: 1.75rem; /* 30px */

    --text-body1: 1rem; /* 18px */
    --leading-body1: 1.5rem; /* 30px */

    --text-body2: 0.75rem; /* 16px */
    --leading-body2: 1.25rem; /* 26px */

    --text-button: 2rem; /* 20px */
    --leading-button: 1.25rem; /* 20px */

    --text-tech-btn: 0.85rem; /* 12px */
    --leading-tech-btn: 1.375rem; /* 22px */
  }
}

@layer components {
  /* ---------------- BUTTON ---------------- */
  /* .ui-btn {
    border-radius: var(--radius-btn);
    padding: var(--btn-py) var(--btn-px);
    @apply inline-flex items-center justify-center gap-2 
          bg-highlight  transition-colors duration-200;
  } */

  .flexCol {
    @apply flex flex-col justify-center items-start;
  }

  .flexRow {
    @apply flex justify-between items-center;
  }

  .--outline {
    @apply border border-black/30 bg-transparent;
  }

  /* ---------------- CARD ---------------- */
  .ui-card {
    border-radius: var(--radius-card);
    padding: var(--card-p);
    @apply shadow-sm border border-black/10;
  }

  /* ---------------- CHIP ---------------- */
  .ui-chip {
    border-radius: var(--radius-chip);
    padding: var(--chip-py) var(--chip-px);
    @apply inline-flex items-center gap-2;
  }

  /* ---------------- Font ---------------- */
  /* ===========================
   TYPOGRAPHY (using CSS vars)
   =========================== */

  .ty-header-title {
    @apply font-title font-bold tracking-tight;
    font-size: var(--text-header-title);
  }

  .ty-h1 {
    @apply font-title font-semibold tracking-tight;
    font-size: var(--text-h1);
    line-height: var(--leading-h1);
  }

  .ty-h2 {
    @apply font-title font-bold;
    font-size: var(--text-h2);
    line-height: var(--leading-h2);
  }

  .ty-h3 {
    @apply font-title font-bold;
    font-size: var(--text-h3);
    line-height: var(--leading-h3);
  }

  .ty-subtitle {
    @apply font-label font-medium;
    font-size: var(--text-subtitle);
    line-height: var(--leading-subtitle);
  }

  .ty-body1 {
    @apply font-body font-normal;
    font-size: var(--text-body1);
    line-height: var(--leading-body1);
  }

  .ty-body2 {
    @apply font-body font-normal;
    font-size: var(--text-body2);
    line-height: var(--leading-body2);
  }

  .ty-button {
    @apply font-body;
    font-size: var(--text-button);
    line-height: var(--leading-button);
  }

  .ty-tech-btn {
    @apply font-body;
    font-size: var(--text-tech-btn);
    line-height: var(--leading-tech-btn);
  }
}

body {
  background: rgb(var(--beige));
  color: rgb(var(--black));
  font-family: var(--font-body, system-ui, -apple-system, BlinkMacSystemFont, sans-serif);
}
